<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/car.css' %}">
    <title>CUSTOM</title>
    <style>
                #backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #backToTop:hover {
    background-color: #333;
  }
    </style>
</head>
<body>
    <nav class="navbar">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">ABOUT</a>
        <div class="dropdown">
            <a href="#">Garrage</a>
            <div class="dropdown-content">
                <a href="{% url 'scania' %}">SCANIA</a>
                <a href="{% url 'mercedes' %}">MECERDES</a>
                <a href="{% url 'volvo' %}">VOLVO</a>
                <a href="{% url 'daf' %}">DAF</a>
                <a href="{% url 'man' %}">MAN</a>
                <a href="{% url 'iveco' %}">IVECO</a>
                <a href="{% url 'renault' %}">RENAULT</a>
                <a href="{% url 'custom' %}">CUSTOM</a>
                <a href="{% url 'heavy duties' %}">HEAVY DUTIES</a>
                <a href="{% url 'contact_view' %}">CONTACT</a>
            </div>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <div class="content">
    <h1>Welcome to CUSTOM garrage</h1>
    <p> We are thrill to have you here please make your choice,<br>
    as we are here to give you value for your money</p>
    </div>

    <div class="car-container">
        <h3 class="het">Model: FREIGHTLINER</h3>
        <div class="slider" id="slider71">
            <img src="{% static 'images/img custom/FREIGHTLINER.jpg' %}" class="active">
            <img src="{% static 'images/img custom/FREIGHTLINER2.jpg' %}">
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider71')">Previous</button>
            <button class="btn" onclick="nextImage('slider71')">Next</button>

        <h2>€68,000</h2>
        
            <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>
        </div>
    </div>

    <div class="car-container">
        <h3 class="het">Model: KENWORTH W900</h3>
        <div class="slider" id="slider72">
            <img src="{% static 'images/img custom/K_W900.JPG' %}" class="active">
            <img src="{% static 'images/img custom/K_W900_1.JPG' %}">
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider72')">Previous</button>
            <button class="btn" onclick="nextImage('slider72')">Next</button>

        <h2>€72,000</h2>

        
            <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>
        </div>
    </div>

    <div class="car-container">
        <h3 class="het">Model: KENWORTH T600</h3>
        <div class="slider" id="slider73">
            <img src="{% static 'images/img custom/K_T600.jpg' %}" class="active">
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider73')">Previous</button>
            <button class="btn" onclick="nextImage('slider73')">Next</button>

        <h2>€50,000</h2>

            <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>
        </div>
    </div>

    <div class="car-container">
        <h3 class="het">Model: KENWORTH T600</h3>
        <div class="slider" id="slider74">
            <img src="{% static 'images/img custom/K_T600_1.jpg' %}" class="active">
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider74')">Previous</button>
            <button class="btn" onclick="nextImage('slider74')">Next</button>

        <h2>€60,000</h2>
        
            <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>
        </div>
    </div>

    <div class="car-container">
        <h3 class="het">Model: KENWORTH T680</h3>
        <div class="slider" id="slider75">
            <img src="{% static 'images/img custom/K_T680_1.JPG' %}" class="active">
            <img src="{% static 'images/img custom/K_T680_2.JPG' %}">
            <img src="{% static 'images/img custom/K_T680.JPG' %}">
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider75')">Previous</button>
            <button class="btn" onclick="nextImage('slider75')">Next</button>

        <h2>€65,000</h2>
        
            <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>
        </div>
    </div>

    <div class="car-container">
        <h3 class="het">Model: KENWORTH T680</h3>
        <div class="slider" id="slider76">
            <img src="{% static 'images/img custom/K_T680_W.jpg' %}" class="active">
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider76')">Previous</button>
            <button class="btn" onclick="nextImage('slider76')">Next</button>
        
        <h2>€75,000</h2>
        
            <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>
        </div>
    </div>

    <div class="car-container">
        <h3 class="het">Model: KENWORTH T680</h3>
        <div class="slider" id="slider77">
            <img src="{% static 'images/img custom/K_T680_3.JPG' %}" class="active">
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider77')">Previous</button>
            <button class="btn" onclick="nextImage('slider77')">Next</button>

        <h2>€50,000</h2>
        
            <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>
        </div>
    </div>

    <div class="car-container">
        <h3 class="het">Model: KENWORTH T800</h3>
        <div class="slider" id="slider78">
            <img src="{% static 'images/img custom/K_T800_1.JPG' %}" class="active">
            <img src="{% static 'images/img custom/K_T800.JPG' %}">
            <img src="{% static 'images/img custom/K_T800_Y.JPG' %}">
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider78')">Previous</button>
            <button class="btn" onclick="nextImage('slider78')">Next</button>

        <h2>€75,000</h2>
        
            <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>
        </div>
    </div>

    <div class="car-container">
        <h3 class="het">Model: KENWORTH900</h3>
        <div class="slider" id="slider79">
            <img src="{% static 'images/img custom/K_W900_1.JPG' %}" class="active">
            <img src="{% static 'images/img custom/K_W900.JPG' %}">
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider79')">Previous</button>
            <button class="btn" onclick="nextImage('slider79')">Next</button>

        <h2>€75,000</h2>
        
            <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>
        </div>
    </div>

    <div class="car-container">
        <h3 class="het">Model: </h3>
        <div class="slider" id="slider80">
            <img src="{% static 'images/img custom/NJ.JPG' %}" class="active">
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider80')">Previous</button>
            <button class="btn" onclick="nextImage('slider80')">Next</button>   

        <h2>€20,000</h2>
        
            <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>
        </div>
    </div>

    <div class="car-container">
        <h3 class="het">Model: Peter Bilt379</h3>
        <div class="slider" id="slider81">
            <img src="{% static 'images/img custom/PB379.jpg' %}" class="active">
            <img src="{% static 'images/img custom/PB_379.jpg' %}">
            <img src="{% static 'images/img custom/PB_379_1.JPG' %}">
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider81')">Previous</button>
            <button class="btn" onclick="nextImage('slider81')">Next</button>

        <h2>€40,000</h2>
        
            <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>
        </div>
    </div>

    <div class="car-container">
        <h3 class="het">Model: Peter Bilt389</h3>
        <div class="slider" id="slider82">
            <img src="{% static 'images/img custom/PB_389.jpg' %}" class="active">
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider82')">Previous</button>
            <button class="btn" onclick="nextImage('slider82')">Next</button>

        <h2>€50,000</h2>
        
            <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>
        </div>
    </div>

    <div class="car-container">
        <h3 class="het">Model: Peter Bilt386</h3>
        <div class="slider" id="slider83">
            <img src="{% static 'images/img custom/PETERBILT_386_R.JPG' %}" class="active">
            <img src="{% static 'images/img custom/PETERBILT_386_R1.JPG' %}">
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider83')">Previous</button>
            <button class="btn" onclick="nextImage('slider83')">Next</button>

        <h2>€55,000</h2>
        
            <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>
        </div>
    </div>

    <div class="car-container">
        <h3 class="het">Model: Peter Bilt395</h3>
        <div class="slider" id="slider84">
            <img src="{% static 'images/img custom/PETERBILT_395.JPG' %}" class="active">
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider84')">Previous</button>
            <button class="btn" onclick="nextImage('slider84')">Next</button>

        <h2>€80,000</h2>
        
            <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>
        </div>
    </div>

    <div class="car-container">
        <h3 class="het">Model: Peter Bilt580</h3>
        <div class="slider" id="slider85">
            <img src="{% static 'images/img custom/BT.jpg' %}" class="active">
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider85')">Previous</button>
            <button class="btn" onclick="nextImage('slider85')">Next</button>

        <h2>€120,000</h2>
        
            <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>
        </div>
    </div>

    <div class="car-container">
        <h3 class="het">Model: CHEVROLET</h3>
        <div class="slider" id="slider86">
            <img src="{% static 'images/img custom/CHEVROLET2.JPG' %}" class="active">
            <img src="{% static 'images/img custom/CHEVROLET3.JPG' %}">
            <img src="{% static 'images/img custom/CHEVROLET.JPG' %}">
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider86')">Previous</button>
            <button class="btn" onclick="nextImage('slider86')">Next</button>

        <h2>€11,500</h2>
        
            <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>
        </div>
    </div>

    <div class="car-container">
        <h3 class="het">Model: International 9900IX</h3>
        <div class="slider" id="slider87">
            <img src="{% static 'images/img custom/INTL_9900IX.jpg' %}" class="active">
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider87')">Previous</button>
            <button class="btn" onclick="nextImage('slider87')">Next</button>

        <h2>€85,000</h2>
        
            <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>
        </div>
    </div>

    <div class="car-container">
        <h3 class="het">Model: International Transition Star</h3>
        <div class="slider" id="slider88">
            <img src="{% static 'images/img custom/INTL_TRANSTAR.JPG' %}" class="active">
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider88')">Previous</button>
            <button class="btn" onclick="nextImage('slider88')">Next</button>

        <h2>€15,000</h2>
        
            <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>
        </div>
    </div>

    <button id="backToTop" onclick="scrollToTop()">Top</button>
    
    <script src="{% static 'java/sliding.js' %}"></script>

    <script>
        // Show the button when the user scrolls down 100px from the top
window.onscroll = function() {
  const button = document.getElementById("backToTop");
  if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
    button.style.display = "block";
  } else {
    button.style.display = "none";
  }
};

// Scroll smoothly to the top when the button is clicked
function scrollToTop() {
  window.scrollTo({ top: 0, behavior: 'smooth' });
}
    </script>

</body>
</html>