<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'style/car.css' %}">
    <title>MECERDES</title>
    <style>
                #backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    padding: 10px 15px;
    font-size: 16px;
    background-color: #555;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #backToTop:hover {
    background-color: #333;
  }
    </style>
</head>
<body>
    <nav class="navbar">
        <a href="{% url 'home' %}">Home</a>
        <a href="{% url 'about' %}">ABOUT</a>
        <div class="dropdown">
            <a href="#">Garrage</a>
            <div class="dropdown-content">
                <a href="{% url 'scania' %}">SCANIA</a>
                <a href="{% url 'mercedes' %}">MECERDES</a>
                <a href="{% url 'volvo' %}">VOLVO</a>
                <a href="{% url 'daf' %}">DAF</a>
                <a href="{% url 'man' %}">MAN</a>
                <a href="{% url 'iveco' %}">IVECO</a>
                <a href="{% url 'renault' %}">RENAULT</a>
                <a href="{% url 'custom' %}">CUSTOM</a>
                <a href="{% url 'heavy duties' %}">HEAVY DUTIES</a>
                <a href="{% url 'contact_view' %}">CONTACT</a>

            </div>
        </div>
    </nav>
    <br>
    <br>
    <br>
    <div class="content">
    <h1>Welcome to DAF garrage</h1>
    <p> We are thrill to have you here please make your choice,<br>
    as we are here to give you value for your money</p>
`   </div>
    <div class="car-container">
        <h3 class="het">Model: 2012 Mercedes-Benz 1845 L</h3>
        <div class="slider" id="slider15">
            <img src="{% static 'images/img benz/A1845_3.jpg' %}" class="active">
            <img src="{% static 'images/img benz/A1845_1.jpg' %}">
            <img src="{% static 'images/img benz/A1845.jpg' %}">
            <img src="{% static 'images/img benz/A1845_2.jpg' %}">
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider15')">Previous</button>
            <button class="btn" onclick="nextImage('slider15')">Next</button>

    <p>
        Description: 2012 Mercedes-Benz Actros 1845 LS BigSpace - 450 hp, <br>
        BigSpace Cabin, Euro 6, Well-Maintained, Lots of Options, <br>
        Ideal for Long-Haul Transport. Reliable and Ready for Immediate Use.
        
        Condition: Working Perfectly 
        
        Engine power:450HP</p>
        
        <h2>Price: €14,000</h2>

        <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>

        </div>
    </div>

    <div class="car-container">
        <h3 class="het">Model: Mercedes-Benz Actros 1851</h3>
        <div class="slider" id="slider16">
            <img src="{% static 'images/img benz/A1851_3.jpg' %}" class="active">
            <img src="{% static 'images/img benz/A1851_1.jpg' %}">
            <img src="{% static 'images/img benz/A1851_2.jpg' %}">
            <img src="{% static 'images/img benz/A1851_4.jpg' %}">
            <img src="{% static 'images/img benz/A1851_IN.jpg' %}">
            <img src="{% static 'images/img benz/A1851_IN2.jpg' %}">
            <img src="{% static 'images/img benz/A1851_IN7.jpg' %}">
            <img src="{% static 'images/img benz/A1851_IN4.jpg' %}">
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider16')">Previous</button>
            <button class="btn" onclick="nextImage('slider16')">Next</button>

    <p>
        Description: 2021 Mercedes-Benz Actros 1851 - 4x2, <br>
        High Cabin, 510 hp, 373,804 km, Euro 6, <br>
        Pneumatic Suspension, 840L Fuel Capacity with Second Diesel Tank, <br>
        12-Speed Smart Gearbox, Air Conditioning, Digital Tachograph, <br>
        Blue Exterior, Aluminum Rims. Clean, Tidy, <br>
        and Ready for Long-Distance Hauls.
        
        Condition: Working perfectly 
        
        Engine power: 510HP</p>
        
        <h2>Price: €50,000</h2>

        <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>

        </div>

    </div>

    <div class="car-container">
        <h3 class="het">Model: Actros 325</h3>
        <div class="slider" id="slider17">
            <img src="{% static 'images/img benz/A3251_1.jpg' %}" class="active">
            <img src="{% static 'images/img benz/A3251_2.jpg' %}">
            <img src="{% static 'images/img benz/A3251_3.jpg' %}">
            <img src="{% static 'images/img benz/A3251_5.jpg' %}">
            <img src="{% static 'images/img benz/A3251_6.jpg' %}">
            <img src="{% static 'images/img benz/A3251.jpg' %}">
            <img src="{% static 'images/img benz/A3251_IN.jpg' %}">            
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider17')">Previous</button>
            <button class="btn" onclick="nextImage('slider17')">Next</button>

    <p>
        Description: 2015 Mercedes-Benz Actros 3251 8x2 with <br>
        HIAB Hooklift - 510 hp, 568,800 km, Euro 6, 8x2 Axle Configuration, <br>
        Well Maintained, Ideal for Construction or Waste Management. <br>
        Clean and Ready for Immediate Work.
        
        Condition: Working Perfectly 
        
        Engine power: 510HP</p>
        
        <h2>Price: €35,000</h2>
        <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>

        </div>
    </div>

    <div class="car-container">
        <h3 class="het">Model: Mercedes-Benz Actros 1848</h3>
        <div class="slider" id="slider18">
            <img src="{% static 'images/img benz/ACT1848_1.jpg' %}" class="active">
            <img src="{% static 'images/img benz/ACT1848_2.jpg' %}">
            <img src="{% static 'images/img benz/ACT1848_3.jpg' %}">
            <img src="{% static 'images/img benz/ACT1848_4.jpg' %}">
            <img src="{% static 'images/img benz/ACT1848_5.jpg' %}">
            <img src="{% static 'images/img benz/ACT1848_ENG.jpg' %}">
            <img src="{% static 'images/img benz/ACT1848_IN.jpg' %}">
            <img src="{% static 'images/img benz/ACT1848_IN3.jpg' %}">
            <img src="{% static 'images/img benz/ACT1848_IN5.jpg' %}">
            <img src="{% static 'images/img benz/ACT1848_IN6.jpg' %}">
            <img src="{% static 'images/img benz/ACT1848_IN7.jpg' %}">
            <img src="{% static 'images/img benz/ACT1848.jpg' %}">
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider18')">Previous</button>
            <button class="btn" onclick="nextImage('slider18')">Next</button>

    <p>
        Description: 2016 Mercedes-Benz Actros 1848 - 476 HP, <br>
        Giga Space, Retarder, Euro 6, 702,000 km, Full Options, <br>
        Excellent Condition. Price. Ready for Immediate Delivery.
        
        Condition: Working Perfectly 
        
        Engine power: 476HP</p>
        
        <h2>Price: €20,000</h2>

        <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>

        </div>
    </div>

    <div class="car-container">
        <h3 class="het">Model: Mercedes-Benz Actros 1851 LS</h3>
        <div class="slider" id="slider19">
            <img src="{% static 'images/img benz/ACT1851_1.jpg' %}" class="active">
            <img src="{% static 'images/img benz/ACT1851_2.jpg' %}">
            <img src="{% static 'images/img benz/ACT1851_3.jpg' %}">
            <img src="{% static 'images/img benz/ACT1851_4.jpg' %}">
            <img src="{% static 'images/img benz/ACT1851_5.jpg' %}">
            <img src="{% static 'images/img benz/ACT1851_jpg' %}">
            <img src="{% static 'images/img benz/ACT1851_IN1.jpg' %}">
            <img src="{% static 'images/img benz/ACT1851_IN.jpg' %}">
            <img src="{% static 'images/img benz/ACT1851_IN2.jpg' %}">
            <img src="{% static 'images/img benz/ACT1851_IN3.jpg' %}">
            <img src="{% static 'images/img benz/ACT1851_IN4.jpg' %}">
            <img src="{% static 'images/img benz/ACT1851_IN5.jpg' %}">
            <img src="{% static 'images/img benz/ACT1851_IN6.jpg' %}">
            <img src="{% static 'images/img benz/ACT1851_IN7.jpg' %}">            
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider19')">Previous</button>
            <button class="btn" onclick="nextImage('slider19')">Next</button>

    <p>
        Description: 2020 Mercedes-Benz Actros 1851 LS <br>
        Gigaspace - 510 hp, 733,223 km, Euro 6, 4x2, <br>
        960L Fuel Capacity with Second Diesel Tank, <br>
        High Cabin (Gigaspace), 12-Speed Smart Gearbox, <br>
        Voith Slowdown Device, Pneumatic Suspension, <br>
        Aluminum Rims, Cruise Control, Air Conditioning, <br>
        Stationary Radiator. Clean and Ready for Long-Distance Hauls.
        
        Condition: Working Perfectly 
        
        Engine power: 510HP</p>
        
        <h2>Price: €45,000</h2>

        <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>

        </div>
    </div>

    <div class="car-container">
        <h3 class="het">Model: Mercedes-Benz Actros 1963</h3>
        <div class="slider" id="slider20">
            <img src="{% static 'images/img benz/ACT1963_2.jpg' %}" class="active">
            <img src="{% static 'images/img benz/ACT1963_9.jpg' %}">
            <img src="{% static 'images/img benz/ACT1963_10.jpg' %}">
            <img src="{% static 'images/img benz/ACT1963_14.jpg' %}">
            <img src="{% static 'images/img benz/ACT1963_17.jpg' %}">
            <img src="{% static 'images/img benz/ACT1963_19.jpg' %}">
            <img src="{% static 'images/img benz/ACT1963_IN1.jpg' %}">
            <img src="{% static 'images/img benz/ACT1963_IN2.jpg' %}">
            <img src="{% static 'images/img benz/ACT1963_IN4.jpg' %}">
            <img src="{% static 'images/img benz/ACT1963_IN5.jpg' %}">
            <img src="{% static 'images/img benz/ACT1963_IN6.jpg' %}">
            <img src="{% static 'images/img benz/ACT1963_IN7.jpg' %}">
            <img src="{% static 'images/img benz/ACT1963.jpg' %}"> 
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider20')">Previous</button>
            <button class="btn" onclick="nextImage('slider20')">Next</button>

    <p>
        Description: MERCEDES BENZ ACTROS 1963 GIGA SPACE - 626 hp, <br>
        978,000 km, EURO 6, Fully Air-Suspended, Giga Space Cabin, <br>
        700-litre Aluminium Tank, Ideal for Long-Distance Haulage. <br>
        Well-Maintained and Ready for Immediate Use.
        
        Condition: Working perfectly 
        
        Engine power: 626HP</p>
        
        <h2>Price: €35,000</h2>
        <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>

        </div>
    </div>

    <div class="car-container">
        <h3 class="het">Model: Mercedes-Benz Actros 2548 SST</h3>
        <div class="slider" id="slider21">
            <img src="{% static 'images/img benz/ACT2548_2.jpg' %}" class="active">
            <img src="{% static 'images/img benz/ACT2548_1.jpg' %}">
            <img src="{% static 'images/img benz/ACT2548_4.jpg' %}">
            <img src="{% static 'images/img benz/ACT2548_3.jpg' %}">
            <img src="{% static 'images/img benz/ACT2548_7.jpg' %}">
            <img src="{% static 'images/img benz/ACT2548_ENG.jpg' %}">
            <img src="{% static 'images/img benz/ACT2548_IN1.jpg' %}">
            <img src="{% static 'images/img benz/ACT2548_IN2.jpg' %}">
            <img src="{% static 'images/img benz/ACT2548_IN5.jpg' %}">
            <img src="{% static 'images/img benz/ACT2548_IN7.jpg' %}">
            <img src="{% static 'images/img benz/ACT2548_IN8.jpg' %}">
            <img src="{% static 'images/img benz/ACT2548.jpg' %}">
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider21')">Previous</button>
            <button class="btn" onclick="nextImage('slider21')">Next</button>

    <p>
        Description: 2018 Mercedes-Benz Actros 2548 <br>
        Silver Star Twinsteer - 476 hp, 329,000 km, Euro 6, <br>
        GigaSpace Cabin, Twinsteer, Air suspension, Heavy Engine Brake, <br>
        Fully Equipped with Extras. Price not provided. <br>
        Well-Maintained and Ideal for Long-Haul Transport.
        
        Condition: Working Perfectly 
        
        Engine power: 476HP</p>
        
        <h2>Price: €48000</h2>

        <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>
        </div>
    </div>

    <div class="car-container">
        <h3 class="het">Model: Mercedes-Benz Arocs 1842</h3>
        <div class="slider" id="slider22">
            <img src="{% static 'images/img benz/ARO1842_1.jpg' %}">
            <img src="{% static 'images/img benz/ARO1842.jpg' %}" class="active">
            <img src="{% static 'images/img benz/ARO1842_3.jpg' %}">
            <img src="{% static 'images/img benz/ARO1842_IN.jpg' %}">
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider22')">Previous</button>
            <button class="btn" onclick="nextImage('slider22')">Next</button>

    <p>
        Description: 2021 Mercedes-Benz Arocs 1842 <br>
        LS 4x4 Tractor Unit - 420 hp, Low Mileage at Only 145,973 km, <br>
        Ideal for Off-Road and Heavy-Duty Transport. <br>
        Price: Contact for details. <br>
        Reliable and Ready for Immediate Use.
        
        Condition: Working Perfectly 
        
        Engine power: 420HP</p>
        
        <h2>Price:  €55,000</h2>

        <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>
        </div>
    </div>

    <div class="car-container">
        <h3 class="het">Model: Mercedes-Benz Attego 1224</h3>
        <div class="slider" id="slider23">
            <img src="{% static 'images/img benz/ATEGO1224_3.jpg' %}" class="active">
            <img src="{% static 'images/img benz/ATEGO1224_1.jpg' %}">
            <img src="{% static 'images/img benz/ATEGO1224.jpg' %}">
            <img src="{% static 'images/img benz/ATEGO1224_IN.jpg' %}">
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider23')">Previous</button>
            <button class="btn" onclick="nextImage('slider23')">Next</button>

    <p>
        Description: 2020 Mercedes-Benz Atego 1224 - 240 hp, <br>
        166,493 km, ADR Certified, Sörensen 1,500 kg Taillift, <br>
        11,990 kg GVW, Euro 6, Ideal for Hazardous Goods Transport. <br>
        Clean and Ready for Immediate Use.
        
        Condition: Working perfectly 
        
        Engine power: 240HP</p>
        
        <h2>Price: €50,000</h2>

        <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>
        </div>
    </div>

    <div class="car-container">
        <h3 class="het">Model: Mercedes-Benz Atego 1530</h3>
        <div class="slider" id="slider24">
            <img src="{% static 'images/img benz/ATEGO1530_11.jpg' %}" class="active">
            <img src="{% static 'images/img benz/ATEGO1530_1.jpg' %}">
            <img src="{% static 'images/img benz/ATEGO1530_44.jpg' %}">
            <img src="{% static 'images/img benz/ATEGO1530.jpg' %}">
            <img src="{% static 'images/img benz/ATEGO1530_IN.jpg' %}">
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider24')">Previous</button>
            <button class="btn" onclick="nextImage('slider24')">Next</button>

    <p>
        Description: 2020 Mercedes-Benz Atego 1530 BigSpace - 135,381 km, <br>
        Loading Capacity 8,280 kg, Own Weight 7,720 kg, <br>
        Gross Vehicle Weight 16,000 kg, Bär Cargolift 2,000 kg taillift. <br>
        Well-Maintained and Ready for Immediate Use!
        
        Condition: Working Perfectly 
        
        Engine power: 299HP</p>
        
        <h2>Price: €50,000</h2>

        <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>
        </div>
    </div>

    <div class="car-container">
        <h3 class="het">Model: Mercedes-Benz MP4 1843 LS</h3>
        <div class="slider" id="slider25">
            <img src="{% static 'images/img benz/MP1843_1.jpg' %}" class="active">
            <img src="{% static 'images/img benz/MP1843_5.jpg' %}">
            <img src="{% static 'images/img benz/MP1843.jpg' %}">
            <img src="{% static 'images/img benz/MP1843_IN1.jpg' %}">
            <img src="{% static 'images/img benz/MP1843_IN.jpg' %}">
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider25')">Previous</button>
            <button class="btn" onclick="nextImage('slider25')">Next</button>

    <p>Description: 2016 Mercedes-Benz Actros MP4 1843 <br>
        LS - ADR EXIII FL OX AT - 430 hp, 727,821 km, Euro 6, <br>
        Certified for Hazardous Goods Transport (ADR EXIII FL OX AT), <br>
        Well-Maintained, Ideal for Specialized Transport. <br>
        Clean and Ready for Immediate Use.
        
        Condition: Working Perfectly 
        
        Engine power: 430HP</p>
        
        <h2>Price: €18,000</h2>

        <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>
        </div>
    </div>

    <div class="car-container">
        <h3 class="het">Model: Mercedes-Benz SK 1850 LS</h3>
        <div class="slider" id="slider26">
            <img src="{% static 'images/img benz/SK1850_1.jpg' %}" class="active">
            <img src="{% static 'images/img benz/SK1850_2.jpg' %}">
            <img src="{% static 'images/img benz/SK1850_3.jpg' %}">
            <img src="{% static 'images/img benz/SK1850_4.jpg' %}">
            <img src="{% static 'images/img benz/SK1850_6.jpg' %}">
            <img src="{% static 'images/img benz/SK1850_7.jpg' %}">
            <img src="{% static 'images/img benz/SK1850.jpg' %}">
            <img src="{% static 'images/img benz/SK1850_IN1.jpg' %}">
            <img src="{% static 'images/img benz/SK1850_IN2.jpg' %}">>
            <img src="{% static 'images/img benz/SK1850_IN5.jpg' %}">
            <img src="{% static 'images/img benz/SK1850_IN.jpg' %}">
        </div>
        <div class="btn-container">
            <button class="btn" onclick="prevImage('slider26')">Previous</button>
            <button class="btn" onclick="nextImage('slider26')">Next</button>

    <p>Description: 1995 Mercedes-Benz SK 1850 LS V8 - 503 hp, <br>
        1,204,800 km, Full Air Suspension, Retarder, Euro 1, <br>
        Special Show Truck with Alcoa Wheels and Michelin Tires. <br>
        Price: Dependent on market, condition, and seller. <br>
        Ready for Immediate Use.**
        
        Condition: Working perfectly 
        
        Engine power: 503HP</p>
        
        <h2>Price: €27,000</h2>

        <a href="{% url 'contact_view' %}" class="btn">Purchase/Hire</a>
        </div>
    </div>

    <button id="backToTop" onclick="scrollToTop()">Top</button>

    <script src="{% static 'java/sliding.js' %}"></script>

    <script>
        // Show the button when the user scrolls down 100px from the top
window.onscroll = function() {
  const button = document.getElementById("backToTop");
  if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
    button.style.display = "block";
  } else {
    button.style.display = "none";
  }
};

// Scroll smoothly to the top when the button is clicked
function scrollToTop() {
  window.scrollTo({ top: 0, behavior: 'smooth' });
}
    </script>
    
</body>
</html>